{% extends 'base.html' %}

{% block content %}

{% if error %}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error }}
</div>

{% endif %}

<h1>Sign Up!</h1>

<form action="{% url 'signup' %}" method="POST">
{% csrf_token %}

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Enter Desired Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirm-password">Password</label>
    <input type="password" name="confirm-password" class="form-control" id="confirm-password" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>

</form>

{% endblock %}