{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}
  <div class="row pt-3">
    <div class="col-2 btn" onclick="window.location='{% url 'detail' product.id %}';">
      <img src="{{ product.icon.url }}" class="img-fluid" alt="{{ product.title }}">
    </div>
    <div class="col-6 btn" onclick="window.location='{% url 'detail' product.id %}';">
      <h1>{{ product.title }}</h1>
      <p>{{ product.summary }}</p>
    </div>
    <div class="col-4">
      <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}">
        <button class="btn btn-primary btn-lg btn-block">
          <span class="oi oi-caret-top"></span>
          Upvote {{ product.votes_total }}
        </button>
      </a>
      <form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form>
    </div>
  </div>
{% endfor %}

{% endblock %}